{%- import 'base.sql.j2' as base -%}
CREATE OR REPLACE TABLE {{ model.name }} AS
{{ base.render_ctes(cte_definitions) -}}
SELECT DISTINCT
{{ base.render_columns(columns, base_alias) }}
FROM {{ source_table }} {{ base_alias }}
{{ base.render_fk_joins(model.joins, model.base_alias) -}}
{{ base.render_where(where_clause) -}}
{{ base.render_group_by(group_by_clause, base_alias) -}}
{{ base.render_having(having_clause) -}};
